 /*For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/
/* End for testing */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: futura;
}

img {
  max-width: 100%;
  height: auto;
}

img:hover {
  filter: brightness(.7);
}

p {
  text-indent: 50px;
  padding-top: 1em;
}

.container-fluid {
  height: 100%;
}

/*Custom media query for desktop devices*/
@media screen and (min-width: 992px) {
  .media-background {
    background-color: #EC5D62;
    padding-left: 2em;
  }
}

/*Custom media query for mobile devices*/
@media screen and (max-width: 767px) {
  .mobile-padding {
    padding-bottom: 1em;
  }
}
